{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.main-content{
    display: block;
    position: relative;
    height: 90%;
    overflow-y:scroll
}

main{
    background-color: #747474;
}
.card-body p{
    margin: 20px;
}

.wrapper{
    background-color: #ff652f;
}

.project {
    background-color: #fce181;
}
.row h1{
    padding: 20px;
    font-family: 'Trebu4het MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #272727;
    color: #fce181;
}

nav {
    padding: 5px;
    font-size: 25px;
    background-color: #272727;
}

.navbar{
    margin-bottom: 0px;
}

a{
    margin-left: 20px;
    margin-right: 20px;
}

#index{
    color: #fce181;
}

#index:hover {
    border: 1px;
    border-style: solid;
    border-color: #b4dfe5;
    color: #ff652f;
    text-decoration: none;
}

#active{
    color: #16ffbd;
}

.row h2{
    margin-top: 10px;
    padding: 20px;
    font-family: 'Trebu4het MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #272727;
    color: #ff652f;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: #272727;
    color: #fce181;
    padding: 15px;
    font-size: 12px;
    text-align: center;
 }

 